body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #a0496c;
}

.wip-container {
    display: flex;
    flex-direction: column;
    margin: 10vh;
}

h1,
div {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
